.header {
  position: fixed;
  top: 0;
  left: 0; /* Start from the very left, including sidebar space */
  width: 100%; /* Occupy the full width of the screen */
  height: 60px;
  background-color: #232935;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.header-title {
  font-size: 24px;
  font-weight: bold;
}

.header-search {
  flex: 1; /* Allows the search bar to expand and take available space */
  margin: 0 20px;
  display: flex;
  justify-content: center;
}

.search-input {
  width: 45%;
  padding: 8px 12px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 16px;
  background-color: #f4f4f4;
}

.header-profile {
  display: flex;
  align-items: center;
}

.notification-icon i {
  font-size: 23px;
  color: #eff7ff; /* Adjust as per your theme */
  cursor: pointer;
  margin-right: 28px;
}

.profile-img-mini {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid white;
  margin-right: 35px;
}
